altgraph==0.16.1
beautifulsoup4==4.8.1
bs4==0.0.1
fbs==0.8.4
html2text==2019.8.11
html5lib==1.0.1
Inject==3.5.4
pdfkit==0.6.1
psutil==5.6.6
pydux==0.2.2
PyInstaller==3.5
PyQt5==5.13.0
PyQt5-sip==12.7.1
setproctitle==1.1.6
six==1.14.0
soupsieve==1.9.5
webencodings==0.5.1
Whoosh==2.7.4
